/* BASIC STYLE */
.container_12
{
    position: relative;
    background-color: #f90;
    border: 1px solid #000;
    overflow-x: hidden;
}

.children
{
    position: relative;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    background-color: rgba(122,122,122,0.05);

    /*Set real width */
    -webkit-box-sizing: border-box;
}

.grid_3
{
    background-color: #f20;
    margin-top: 5px;
    margin-bottom: 5px;
}

.remove
{
    display: none;
}

/* EXTENSION STYLE*/
.wrap
{
    position: relative;
    display: inline-block;
    background-color: rgba(125,0,0,0.4);
    width: 100%;
    left:0;

    /*-webkit-transform: translate(0, 0);*/
    -webkit-transform: translateX(0);

}